<%- include('header') -%>

<div class="container mt-5">
    <div class="mb-3">

        <h1>GRACIAS POR SU COMPRA</h1>

    </div>

    <div class="mt-3">
        <a class="btn btn-outline-dark cancel" href="/CATALOGO">REGRESAR</a>
    </div>  


</div>
