<%- include('header') -%>

<div class="container">
    <h1>Añadir nuevo producto</h1>
</div>


<form action="/crear" method="post">
<div class="form-horizontal">

<%- include('editorCentral') -%>

<div class="form-group row">
<label class="col-form-label col-sm-2"></label>
<div class="col-sm-10">
</div>
</div>
</div>
</form>
